<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.foxdebug.acodefree" />
        <package android:name="org.chromium.customtabsdemos" />
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="Chrome (secure)"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebViewsAttackSurface"
        tools:targetApi="31">
        <service
            android:name=".customtabs.AttackerTabsService"
            android:enabled="true"
            android:label="Chrome (Secure)"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.customtabs.action.CustomTabsService"/>
            </intent-filter>
        </service>

        <service android:name="androidx.browser.customtabs.PostMessageService"
            android:exported="true"/>

        <activity
            android:name=".customtabs.AttackerTabsHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="googlechrome"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="googlechrome"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="multipart/related"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="multipart/related"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="message/rfc822"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern="/.*.mhtml"/>
                <data android:pathPattern="/.*.mht"/>
                <data android:pathPattern="/.*..*.mhtml"/>
                <data android:pathPattern="/.*..*.mht"/>
                <data android:pathPattern="/.*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*..*.mht"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern="/.*.mhtml"/>
                <data android:pathPattern="/.*.mht"/>
                <data android:pathPattern="/.*..*.mhtml"/>
                <data android:pathPattern="/.*..*.mht"/>
                <data android:pathPattern="/.*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*.mht"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*..*.mhtml"/>
                <data android:pathPattern="/.*..*..*..*..*..*..*..*..*..*.mht"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.VOICE_SEARCH_RESULTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.android.airview.HOVER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:icon="@drawable/hextree_logo"
            android:label="WebViews Attack Surface"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WebViewsTestActivity"
            android:exported="true" />
        <activity
            android:name=".activities.WebViewsJavaScriptActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CustomTabsActivity"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.hextree.webview"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".CustomFileProvider"
            android:authorities="io.hextree.webprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".AttackProvider"
            android:authorities="io.hextree.attackprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>